body{
    font-family: 'Nunito', sans-serif;
}
.high-score{
    text-align: left;
    font-weight: bold;
    color: purple;
    font-size: 1.3rem;
}
#timer{
    text-align: right;
    font-weight: bold;
    font-size: 1.3rem;
}
.question,
.high-score-title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.description{
    text-align: center;
    font-size: 1.1rem;
}
.btn{
    background-color: purple;
    color: white;
    padding: 1px 4px;
}
.submitBtn{
    margin-left: 10px;
}
.ansbtn{
    display: block;
}
.modal,
.card-body{
    text-align: center;
}

